<!DOCTYPE html>
<html>
<head>
  <title>Chaîne dynamique</title>
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}"/> 
</head>
<body>
  <div id="dynamic-content"></div>
  
  <script>
    const eventSource = new EventSource("/stream");

    eventSource.onmessage = (event) => {
      const data = JSON.parse(event.data);
      const dynamicContent = document.getElementById('dynamic-content');
      dynamicContent.innerHTML = '';


      data.forEach(element => {
        // Config
        type = element["type"]
        styles = element["style"]
        
        // Text
        content = element["content"]
        
        // Images
        images = element["images"]
        
        // Table
        items = element["items"]
        answer = element["answer"]
        
        // Score
        question = element["question"]
        score = element["score"]


        let child = null

        switch (type) {
          case 'text':
            child = renderText(content, styles);
            break;
          case 'table':
            child = renderTable(items, answer, styles);
            break;
          case 'image':
            child = renderImage(images[0], styles);
            break;
          case '3images':
            child = render3Images(content, styles);
            break;
          case 'standby':
            child = renderStandBy(content, styles);
            break;
          case 'score':
            child = renderScore(question, score, styles);
            break; 
          default:
            console.log("Mode non pris en charge");
        }

        if (child != null){
          dynamicContent.appendChild(child)
        }
      });

    };



    function renderScore(question, score, styles){
      const box = document.createElement('div');

      const parts = document.createElement('div');

      const first = document.createElement('div');
      const second = document.createElement('div');
      
      const question_text = document.createElement('a');
      const score_text = document.createElement('a');

      box.classList.add("score-parent");
      parts.classList.add("score-div");

      first.classList.add("score-boxed-red");
      second.classList.add("score-boxed-blue");

      question_text.innerText = question;
      score_text.innerText = score;

      first.appendChild(question_text);
      second.appendChild(score_text);

      parts.appendChild(first);
      parts.appendChild(second);

      box.appendChild(parts);


      if (styles.length != 0){
        styles.forEach(style => {
          box.classList.add(style)
        });
      }

      return box
    }


    function renderStandBy(content, styles) {
      const box = document.createElement('div');

      const paragraphs = content.split('/n').filter(p => p.trim() !== '').map(paragraph => {
        const p = document.createElement('p');
        p.innerText = paragraph;
        return p;
      });
      paragraphs.forEach(paragraph => box.appendChild(paragraph));

      if (styles.length != 0){
        styles.forEach(style => {
          box.classList.add(style)
        });
      }
      return box
    }

    // Text
    // -----------------------------------------------------
    function renderText(content, styles) {
      const box = document.createElement('div');

      const paragraphs = content.split('/n').filter(p => p.trim() !== '').map(paragraph => {
        const p = document.createElement('p');
        p.innerText = paragraph;
        return p;
      });
      paragraphs.forEach(paragraph => box.appendChild(paragraph));

      if (styles.length != 0){
        styles.forEach(style => {
          box.classList.add(style)
        });
      }
      return box
    }

    // Table
    // -----------------------------------------------------
    function renderTable(items, answer, styles) {
      const box = document.createElement('div');

      const table = document.createElement('table');
      table.classList.add('table');

      let blue_cell = null;
      

      quesions_names = ["A", "B", "C", "D"]
      for (let i = 0; i < items.length; i += 2) {
        const row = document.createElement('tr');
        const cell1 = document.createElement('td');
        

        question_name = document.createElement('a')
        question_name.innerText = quesions_names[i] + " - "
        question_name.classList.add("question-name")
        cell1.appendChild(question_name);


        cell1.innerHTML += items[i].toString().trim().split('/n').join('<br>');

        if (answer != null && answer == items[i]){
            blue_cell = cell1;
        }

        row.appendChild(cell1);

        if (items[i + 1]) {
          const cell2 = document.createElement('td');

          question_name = document.createElement('a')
          question_name.innerText = quesions_names[i + 1] + " - "
          question_name.classList.add("question-name")
          
          
          cell2.appendChild(question_name);
          cell2.innerHTML += items[i + 1].toString().trim().split('/n').join('<br>');

          if (answer != null && answer == items[i + 1]){
            blue_cell = cell2;
          }

          row.appendChild(cell2);
        }
        table.appendChild(row);
      }

      box.appendChild(table);

      if (styles.length != 0){
        styles.forEach(style => {
          box.classList.add(style)
        });
      }

      if (blue_cell){
        blue_cell.classList.add("blue-cell")
      }
        
      
      
      return box
    }

    // Image
    // -----------------------------------------------------
    function renderImage(content, styles) {
      const box = document.createElement('div');
      
      const img = document.createElement('img');
      img.src = content;
      img.style.maxWidth = '100%';
      img.style.maxHeight = '100%';
      img.style.objectFit = 'contain';
      box.appendChild(img);

      if (styles.length != 0){
        styles.forEach(style => {
          box.classList.add(style)
        });
      }
      
      return box
    }
    
    // 3 images
    // -----------------------------------------------------
    function render3Images(content, styles) {
      const box = document.createElement('div')

      const images = content.split('|');

      if (images.length !== 3) {
        console.error("Le contenu doit contenir exactement trois URL d'images séparées par des virgules.");
        return;
      }
      const imagesContainer = document.createElement('div');
      imagesContainer.classList.add('images-container');
      images.forEach(imageUrl => {
        const img = document.createElement('img');
        img.src = imageUrl.trim();
        img.style.maxWidth = '33%';
        img.style.maxHeight = '100%';
        img.style.objectFit = 'contain';
        imagesContainer.appendChild(img);
      });

      box.appendChild(imagesContainer);

      if (styles.length != 0){
        styles.forEach(style => {
          box.classList.add(style)
        });
      }
      
      return box
    }
    



    function openFullscreen() {
        var elem = document.documentElement;
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.webkitRequestFullscreen) { /* Safari */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) { /* IE11 */
          elem.msRequestFullscreen();
        }
      }
      // Attacher la fonction openFullscreen() à un événement de clic
      document.addEventListener('click', function() {
        openFullscreen();
        sendLoadedEvent();
      });
      // Fonction pour envoyer une requête au serveur Flask
      function sendLoadedEvent() {
        fetch('/page-loaded', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ loaded: true })
        })
        .catch(error => console.error('Error:', error));
      }
  </script>
</body>
</html>
<style>

</style>